{% extends 'base.html' %}


{% block title %}

  INDEX PAGE

{% endblock %}


{% block content_title %}
    Мой первый сайт на фласке

                


{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    <p>
        Сам язык HTML состоит из множества элементов, так называемых тегов HTML. Каждый тег HTML выполняет свою задачу: одни вставляют ссылку, другие картинку, третьи создают таблицы для выравнивания других тегов, четвёртые позволяют делать отдельные блоки на странице, - все эти элементы Вы будете использовать при создании своих сайтов.</p>


    <p>Также не так давно появился HTML 5. Это расширенный стандарт языка гипертекстовой разметки. В него вошло множество новых элементов, расширяющих возможности Web-мастеров, с которыми мы тоже познакомимся.
      Ладно, пора приступать к созданию нашего с Вами первого сайта.</p>

</div>
{% endblock %}
